.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  span {
    font-size: 5em;
  }
  h2 {
    text-decoration: underline;
    &:hover {
      text-decoration: none;
    }
  }
}
