@import "./scss/variables";

@import "./scss/components/header";
@import "./scss/components/button";
@import "./scss/components/categories";
@import "./scss/components/sort";
@import "./scss/components/pizza-block";
* {
  padding: 0;
  margin: 0;
  list-style: none;
  outline: none;
  font-family: "Nunito", Roboto, system-ui, Tahoma, sans-serif;
  box-sizing: border-box;
}
a,
span,
p,
b,
h1,
h2,
h3,
h4,
h5 {
  color: $black;
}

h1 {
  font-size: 48px;
}

h2 {
  font-weight: 600;
  font-size: 28px;
  line-height: 30px;
}

a {
  text-decoration: none;
}
body {
  background-color: $background;
}

.wrapper {
  background-color: #fff;
  margin: 30px 20px;
  border-radius: 10px;
  padding: 10px;
  // @media (max-width: 650px) {
  //   padding: 0;
  //   margin: 0;
  // }
}

.home {
  padding: 40px 0;

  .items {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fill, 250px);
    justify-content: space-around;
    justify-items: center;
    column-gap: 30px;
    row-gap: 40px;
    margin: 0;
  }

  .top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}
